@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1024px;
    width: calc(100% - 1rem);
    margin-left: auto;
    margin-right: auto;
}

input {
    @apply border text-xl px-2 rounded h-10 border-gray-500 
}

.btn {
    @apply inline-flex h-10 px-4 rounded items-center justify-center text-center gap-2.5 font-semibold;
}

.btn.btn-primary {
    @apply border-2 rounded border-gray-900 text-gray-900 bg-transparent;
}

.btn.btn-soft {
    @apply bg-opacity-10 border-0 font-light;
}

.btn-square {
    @apply flex items-center justify-center w-10 h-10 bg-opacity-10 rounded;
}

.btn-square span {
    flex-shrink: 0;
    font-size: 24px;
}



.min-h-dvh {
    min-height: calc(100dvh - 56px - 56px);
}

.page-title {
    @apply text-2xl md:text-4xl font-semibold mb-8 mt-12 text-center;
}

.carousel-row {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: .75rem;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
}

.carousel-row .carousel-item {
    scroll-snap-align: center;
    flex-shrink: 0;
    position: relative;
}

.credit-card {
    width: 100%;
    max-width: 323px;
    height: auto;
    aspect-ratio: 323 / 204;
    border-radius: 10px;
    object-fit: cover;
    background-position: center;
    overflow: hidden;
    cursor:pointer;
    @apply shadow-md;
}

.credit-card img {
    width: 100%;
}

