@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1024px;
    width: calc(100% - 1rem);
    margin-left: auto;
    margin-right: auto;
}

input {
    @apply border text-xl px-2 rounded h-10
}

.btn {
    @apply inline-flex h-10 p-4 rounded items-center justify-center text-center gap-2.5
}

.btn.btn-primary {
    @apply border-2 rounded border-gray-900 text-gray-900 bg-transparent;
}

.min-h-dvh {
    min-height: calc(100dvh - 56px - 56px);
}

.page-title {
    @apply text-2xl md:text-4xl font-semibold mb-8 mt-12 text-center;
}

.carousel-row {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: .75rem;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
}

.carousel-row .carousel-item {
    scroll-snap-align: center;
    flex-shrink: 0;
    position: relative;
}

.credit-card {
    width: 323px;
    max-width: 100%;
    aspect-ratio: 323 / 204;
    background-color: #dedede;
    border-radius: 10px;
    object-fit: cover;
}